.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-btn {
  width: 100%;
  display: inline-block;
  font: inherit;
  background: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery {
    width: auto;
    margin: 0;
  }
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@supports (display: grid) {
  .gallery-item {
    width: auto;
    margin: 0;
  }
}
